/*
!android/
android/*
!android/app/
android/app/*
!android/app/build.gradle
!android/app/CMakeLists.txt
!android/app/libs
!android/app/proguard-rules.pro
!android/app/src
!android/build.gradle
!android/gradle
!android/gradle.properties
!android/gradlew
!android/gradlew.bat
!android/local.properties
!android/settings.gradle
!dependencies/
!ghost/
!resources/
!main_android.cpp
!main_linux.cpp
!main_macosx.cpp
!main_windows.cpp
!.gitattributes
!.gitignore
!fmodex.dll
# Code Blocks user files.
!GameEngine.cbp
!GameEngine.depend
!GameEngine.layout
# Visual studio project files.
!GhostEngine.sln
!GhostEngine.vcxproj
!GhostEngine.vcxproj.filters
!GhostEngine.vcxproj.user
# XCode project file.
!SMEngine/
SMEngine/*
!SMEngine/SMengine.xcodeproj
# Release projects.
!releases/
# Utility projects
!utils
utils/*
!utils/ModelSerializer
utils/ModelSerializer/*
!utils/ModelSerializer/ModelSerializer.vcxproj
!utils/ModelSerializer/ModelSerializer.vcxproj.filters
!utils/ModelSerializer/ModelSerializer.vcxproj.user
!utils/ModelSerializer/src/
!Tests/
Tests/*
!Tests/main.cpp
!Tests/Tests.vcxproj
!Tests/Tests.vcxproj.filters